<% layout("./layouts/boilerplate.ejs")%>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Edit Comment</h2>
        <form action="/review/<%= review._id %>/edited/<%=id2 %>" method="post">
          <div class="form-group mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea
              name="comment"
              id="comment"
              class="form-control"
              rows="5"
            ><%= data.comment %></textarea>
          </div>
          <button class="btn btn-dark btn-block">Edit Comment</button>
        </form>
      </div>
    </div>
  </div>
</body>